*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}
.box{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg ,#edf6fc, #007bff);
    color: white;
    position: relative;
}
.container{
    width: 880px;
    height: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* background: red; */
}
.Time{
    width: 100%;
    height: 100%;
    background: rgba(53, 1, 58, 0.925);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* backdrop-filter: blur(30px); */
}

.Time span{
    font-size: 80px;
    width: 110px;
    display: inline-block;
    text-align: center;
    position: relative;
}
.Time span::after{
    font-size: 14px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%);
}
#hrs::after{
    content: 'HOURS';
}
#min::after{
    content: 'MIN';
}
#sec::after{
    content: 'SEC';
}
/* #dateToday::after{
    content: 'DATE';
} */
/* .date{
    width: 100%;
    height: 100%;
    background: rgba(53, 1, 58, 0.925);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.date span{
    font-size: 80px;
    width: 110px;
    display: inline-block;
    text-align: center;
    position: relative;
}
.date span::after{
    font-size: 14px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%);
} */